@import 'bootstrap';
@import 'bootstrap/theme';

h1 {
  color: 000000;
  font-size: 60pt;
}

h2 {
  color: 000000;
  font-size: 35pt;
  text-align: left;
  text-decoration: underline;
}

h3 {
  color: 000000;
  font-size: 35pt;
  text-align: center;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  text-align: center;
}

.add-review{
  width: 100%;
  min-height: 100px;
  margin: 20px 0px;
}

.review-backdrop {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 5px;
}
