<h3>
<ul>{{location.address}}</ul>
</h3>

{{#each location.reviews as |review|}}
  {{dw-location/review review=review deleteItem='deleteItem'}}
{{/each}}

{{#link-to 'add-review' location class="btn btn-primary"}}
  Add Review to {{location.address}}
{{/link-to}}
